<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>links}}
    <title>Live Weather</title>
</head>
<body>
      {{>navbar}}

      <div class="container-fluid center-content">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    

                    <div class="col-md-6 col-12 mx-auto right-center ">

                       <figure>
                           <img src="images/about1.jpg" alt="image" class="img-fluid" title="Ashish" >
                       </figure>

                    </div>

                    <div class="col-md-6 col-12 mx-auto left-center">
                           <p class="ml-0">Hello <span>ğ€ğ¬ğ¡ğ¢ğ¬ğ¡ ğŒğ¢ğ¬ğ¡ğ«ğš </span> Here!</p>
                           <h1 class="ml-0">Get The Latest <span>Weather</span> Info Of Your City</h1>
                           <a href="/weather"><button>Check Now</button></a>
                    </div>


                </div>

            </div>
        </div>


    </div>


    <footer>
        <p>copyright All right reserved</p>
    </footer>
</body>
</html>